---
import config from 'virtual:starlight/user-config';
import { Search, ThemeSelect, LanguageSelect } 
  from '@astrojs/starlight/components';

const shouldRenderSearch =
  config.pagefind ||
  config.components.Search !== '@astrojs/starlight/components/Search.astro';
---
<div class="header sl-flex">
  <div class="sl-flex">
    <a class="site-title" href="/">{config.title}</a>
  </div>
  <div class="sl-flex">
    {shouldRenderSearch && <Search {...Astro.props} />}
  </div>
  <div class="sl-flex right-group">
    <nav class="icon-nav sl-flex">
      <!-- enlaces -->
    </nav>
    <ThemeSelect {...Astro.props} />
    <LanguageSelect {...Astro.props} />
  </div>
</div>

<style>
  .header { gap: var(--sl-nav-gap); justify-content: space-between; align-items: center; height: 100%; }
  .site-title { text-decoration: none; color: inherit; font-weight: bold; }
  .right-group, .icon-nav { gap: 1rem; align-items: center; }
  .icon-link { display: inline-flex; color: inherit; text-decoration: none; }
  .icon-link svg { width: 1.5rem; height: 1.5rem; }
</style>
